{
    "theme": "yeti",
    "max_queue_size": 20,
    "num_workers": 3,
    "connections": {
        "primary_lite": {
            "vendor": "sqlite",
            "dbname": "first.db"
        },
        "secondary_lite": {
            "vendor": "sqlite",
            "dbname": "second.db"
        }
    }
}
